* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
}
article {
  width: 830px;
  border: 4px solid black;
  margin: 20px auto;
  position: relative;
}
h2 {
  text-transform: uppercase;
  background-color: #f6f6f6;
  padding: 10px;
  text-align: center;
}
.container {
  display: flex;
  gap: 30px;
}
.information {
  width: 250px;
  margin-top: 20px;
}
.product {
  width: 250px;
  margin-top: 20px;
}
.info-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.price {
  font-weight: bold;
  font-size: 18px;
}
.shipping {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.more-info:link {
  color: black;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 25px;
}
.more-info:link:hover {
  text-decoration: none;
}
.colors {
  display: flex;
  gap: 6px;
}
.color {
  width: 20px;
  height: 20px;
  background-color: black;
}
.blue-color {
  background-color: blue;
}
.red-color {
  background-color: red;
}
.gold-color {
  background-color: gold;
}
.green-color {
  background-color: greenyellow;
}
.brown-color {
  background-color: brown;
}
.sale {
  position: absolute;
  background-color: red;
  color: white;
  padding: 6px 12px;
  text-transform: uppercase;
  top: -20px;
  left: -30px;
  font-weight: 400;
}
ul li {
  list-style: square;
}
.btn {
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: 100%;
  padding: 20px;
  font-size: 22px;
}
.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-top: 4px solid black;
}
